@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Libre+Franklin|Montserrat+Subrayada|Quicksand&display=swap');
html{
    box-sizing: border-box;
}
body,#header,#main,#footer {
    margin: 0 auto;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    background: url(../image/volcano5.jpg) top center fixed no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    /* color: inherit; */
}
/************************************* header ************************************/
#header{
    height: 800px;
    background: url(../image/volcano3.jpg) top center fixed no-repeat;
    background-size: cover;
    animation: backgroundScroll 20s infinite alternate; 
    text-align: center;
}
@keyframes backgroundScroll {
    0% {background-position: 0 0;}
    100% {background-position: 0px -100px;}
}
#h1 {
    margin: auto; 
    padding-top: 18em;
}
h1{
    margin: 0;
    text-align: center;
    font-family: 'Alex Brush', cursive;
    color:floralwhite;
    font-size: 6em;
    font-weight: 80;
    animation: color-change 2s infinite alternate ease-out;
    text-shadow: 2px 2px 2px #384460;
}
@keyframes color-change {
    0% { color: #202128; }
    100% { color: floralwhite; }
}
#lang{
    position: absolute;
    top: 2em;
    right: 3em;
    color: floralwhite;
    font-size: 0.9em;
    font-family: 'Quicksand', sans-serif;
}
#scrolldown{
    color: floralwhite;
    margin-top: 12em;
    font-size: 0.8em;
}
/********************* nav **********************/
#nav {
    position: absolute;
    top: 13em;
    right: 3em;
    width: 16%;
    text-align: right;
    line-height: 1.5em;
    font-family: 'Quicksand', sans-serif;
}
#nav ul li{
    list-style: none;
    padding-bottom: 0.8em;
    font-size: 1em;
    color: #aec6e8; 

}
#nav ul li:hover {
    font-size: 2em;
    text-shadow: 2px 2px 2px #384460;
    color: floralwhite;
}
#header_description{
    display: none;
    position: absolute;
    top: 4em;
    left: 2em;
    text-align: left;
    font-size: 3em;
    padding: 0 1.3em;
    margin: 0;
    width: 60%;
    color: #384460;
    background: rgb(255, 255, 255, 0.6);
    font-family: 'Quicksand', sans-serif;
    line-height: 1.3em;
}
#header_description span {
    color:floralwhite;
    text-shadow: 2px 2px 2px #384460;
    font-family: 'Alex Brush', cursive;
    padding-bottom: 0;
    margin: 0;
    line-height: 1.6em;
}
/*********************** reservation ********************/
#reservation a {
    display: block;
    width: 12em;
    height: 1em;
    padding: 0.8em 0;
    border: 1.5px solid #384460;
    text-align: center;
    line-height: 1em;
    margin: 2em auto;
    background: rgb(255, 255, 255, 0.7);
}
#reservation a:hover {
    background: rgb(255, 255, 255, 1); 
}
/****************************** main part ******************************************/
#main {
    margin: 0 auto;
    padding: 0;
    background: url(../image/Vesuvius-texture.jpg) top center fixed repeat-y;
    background-size: cover; 
}
.module{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.subtitle {
    flex: 1 0 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 2.6em;
    font-weight: 80;
    color: floralwhite;
    margin: 0;
    padding-top: 1.8em;
    color: #2c4379;
    text-shadow: 5px 5px 5px #a3adb9;
}
.subtitle p {
    width: 75%;
    font-size: 0.6em;
    margin: 0 auto;
    padding-top: 1.5em;
    text-align: left;
    font-family: 'Libre Franklin', sans-serif;
}
.subtitle a {
    display: block;
    width: 10em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    font-size: 0.5em;
    padding: 0.6em 0;
    margin: 2em auto;
    border: 1px solid #2c4379;
}
.subtitle a:hover {
    background: white;
}
.food_img {
    flex: 1 0 0;
    margin: 0;
    padding: 0;
}
.food_img img {
    margin: 0;
    padding: 0;
}
.module_image{
    width: 42.15em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.module h2 {
    padding-top: 2em; 
}
#sitemap {
    width: 95%;
    padding-bottom: 2em;
    margin: 1em auto;
    text-align: center;
    color: #384460;
}
#site-homepage {
    width: 30%;
    padding: 0.6em;
    margin: 2em auto; 
    font-size: 2em;
    background: rgb(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#site-map {
    font-size: 0.6em;
    padding-top: 1em;
    font-weight: bold;
}
#site-flexcontainer {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding-top: 2em;
    border-top: 2px solid #384460;
}
.sites {
    padding: 0.3em ;
    flex: 1 0 0;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bold;
    background: rgb(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#site-flexcontainer span {
    color: #f36701;
    font-size: 1.3em;
}