/**************************
Table of Content:
1. General Styles
2. Index 
3. About Us
4. Contact Us
5. Gift Cards
6. Locations
7. Menu
8. Booking
9. Careers
10. Site Map
11. Specials
12. Contest
**************************/

/**************************
1. General Styles
**************************/

.flex-container {
	display:flex;
    flex-flow: row wrap;
}
.flex-container > * {
	flex: 1 0 0;
}
/**************************
2. Index 
**************************/

/**************************
3. About Us
**************************/

/**************************
4. Contact Us
**************************/

/*#contact-form {
    flex-flow: column wrap;
}
#contact-form-method {
	flex: 1 0 100%;
}
#user-comments {
	flex: 1 0 100%;
}
#contact-form {
	display: none;
}*/
/**************************
5. Gift Cards
**************************/

#all-selections{
	display: flex;
	flex-direction: row;
	width:700px;
}
#amount{
	display: flex;
	flex-direction: column;
}
.values{
	background-color: cornflowerblue;
	color: black;
	text-align: center;
	height: 50px;
	width: 50px;
	margin: 20px 20px 20px 20px;
	border-radius: 10% 10% 10% 10%;
	transition: background-color 200ms ease-in-out;
}
span:hover{
	background-color: goldenrod;
	transition: background-color 200ms ease-in-out;
}

#gc-choices{
	display: flex;
	flex-direction: column;
}
.gc{
	width: 300px;
	height: 200px;
	border-radius: 10% 10% 10% 10%;
	padding: 10px 0px 0px 10px;
	transition: transform 500ms ease-in-out;
}
.gc:hover{
	transition: transform 500ms ease-in-out;
	transform: scale(1.1);
}
#selected-card{
	margin-left: 350px;
	width: 400px;
	height: 266px;
	border-radius: 10% 10% 10% 10%;
}
#totalamount{
	margin-left: 350px;
}
/**************************
6. Locations
**************************/

/**************************
7. Menu
**************************/
#main-picture {
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin:0;
  width: 100%;
}
#appetizer, #entree, #main-course, #dessert, .menu-pictures, .food-list {
    flex: 1 0 0;
    text-align:center;
    margin:0;
}
.menu-pictures img {
    max-width:99%;
    height: auto;
}
#menu {
    max-width: 900px;
    text-align:center;
    flex:2 0 0;
}
.menu-list {
    display:none;
    margin: 0.5em 0.5em;
}
#menu-price {
    flex:1 0 0;
}
/**************************
8. Booking
**************************/
#booking-sitename {
    text-align: center;
    transform: translateY(-1000%);
    color:white;
    font-weight:bold;
    font-size:40px;
}
.h2Booking {
   background: #D99E50;
    text-align: center;
}
.booking-customer-info, .event_picture, . event_info {
    flex: 1 0 0;
    text-align:center;
    margin: 1em;
}
#submit-button, #error_message {
    text-align:center;
    margin:1em 0 1em;
}
.hidden {
    display:none;
}
#event, #booking {
    text-align: center;
}
#event_request {
    width:80%;
    height:70px;
}
/*#special_request {
    display: none;
}*/

/**************************
9. Careers
**************************/	
#quick-search-job {
	flex: 1 0 100%;
}
#result-job {
	flex: 1 0 100%;
}
.result-job-id {
	flex: 1 0 100%;
}
.result-job-detail {
	flex: 1 0 100%;
}

/**************************
10. Site Map
**************************/

/**************************
11. Specials
**************************/

/**************************
12. Contest
**************************/