/********************** font import ************************/
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Libre+Franklin|Montserrat+Subrayada&display=swap&subset=latin-ext');

/************************ general setting *******************/
html{
    box-sizing: border-box;
}
body { /** here's the body background **/
    background: url(../image/volcano5.jpg) top center fixed no-repeat;
    background-size: cover;
}
body,#uniform-header,#uniform-footer {
    margin: 0 auto;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif; /*** overall font ***/
}
a {
    text-decoration: none;
    color: inherit;
}

/************************* header **************************/
#uniform-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: url(../image/uniform-header-bg.png) top center no-repeat;
    background-size: cover;
}
#header-flex {
    display: flex;
    flex-flow: row wrap;
    color: #3d4760;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}
#header-logo {
    flex: 2 0 0;
    font-family: 'Alex Brush', cursive;
    font-size: 25px;
    margin-left: 3%;
    margin-top: 1.5%;
    text-shadow: 0 0 5px #bfcfdf;
}
#header-logo:hover {
    animation: shadow-change 0.5s 2 alternate;
}
@keyframes shadow-change {
  0% {
    text-shadow: 0 0 0 #bfcfdf;
  }
  100% {
    text-shadow: 0 8px 10px #212734;
  }
}
#header-nav {
    flex: 5 0 0;
    margin: 1% auto;
}
#header-nav ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 18.5%;
    font-size: 14px;
    transition: all 0.3s ease; 
}
#header-nav ul li:hover {
    transform: scale(1.5);
    color: #3d4760;
    text-shadow: 4px 4px 2px #bfcfdf;
}
#header-booking {
    flex: 2 0 0;
    margin-left: 3%;
    margin-top: 2%;
}
#header-booking a {
    color: #f1f1f1;
    border: 1px #5876b2 solid;
    padding: 5px 8px;
    background: #5876b2;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}
#header-booking a:hover {
    color: #5876b2;
    background: white;
}
/************************* header end **************************/



/************************************* body test ********************************/ 
#test {
    height: 800px;
}
/************************************* test end ********************************/ 


/************************************ footer ************************************/
#uniform-footer {
    color: #3d4760;
    line-height: 25px;
}
#footer-content {
    background: url(../image/uniform-footer-bg.jpg) top center no-repeat;
    background-size: cover;
    padding: 2% 18%;
    display: flex;
    flex-flow: row wrap;
}
#footer-flex1 {
    flex: 1 0 0;
    text-align: center;
    margin-right: 5%;
}
#footer-flex2 {
    flex: 1 0 0;
    margin-left: 5%;
}
#footer-logo {
    flex: 2 0 0;
    font-family: 'Alex Brush', cursive;
    font-size:45px;
    margin-left: 3%;
    margin-top: 15%;
    margin-bottom: 15%;
    text-shadow: 2px 3px 2px #bfcfdf;
}
#footer-booking a {
    color: #f1f1f1;
    border: 1px #5876b2 solid;
    padding: 5px 8px;
    margin-bottom: 5%;
    background: #5876b2;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}
#footer-booking a:hover {
    color: #5876b2;
    background: white;
}
#footer-tel {
    padding-top: 10%;
}
.footer-timeslot {
    color: #face01;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 0 1px #5876b2;
}
#footer-bottom1 {
    background: #334b87;
    color: #f1f1f1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}
#footer-bottom2 {
    background: #3d4760;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #f1f1f1 !important;
    font-size: 16px;
}
#footer-bottom2 a:link {
    color: #f1f1f1 ;
}
/**************************** footer end *****************************/ 

